@media screen and (max-width:760px) {
   body {
       background: rgb(34, 34, 34) url(../imgs/Imagem-Academia-PNG.png) center;
   }
   
    header {
       flex-direction: column;
   }

   #titulo {
       text-align: center;
   }

   main{
       flex-direction: column;
   }

   h2{
       font-size: 38px;
       text-align: center;
   }

   p {
       max-width: 50%;
       margin: 0 auto;
   }

   form{
       margin: 0 auto;
       width: 100%;
   }

   form [type="submit"] {
    height: 50px;
    width: 217px;
}

   input {
       align-self: center;
   }



   img {
       display: none;
   }

   ul{
       text-align: center;
   }
}

@media screen and (max-width:1057px) {

    h2{
        font-size: 54px;
    }
 
    img {
        width: 100%;
    }
 
 }

 @media screen and (max-width:1057px) {

    ul{
        text-align: center;
    }
 
 }

 @media screen and (max-width:851px) {

    h2 {
        font-size: 40px;
    }
 
 }



